# Application Environment
NODE_ENV=development
PORT=8000

# PostgreSQL Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/student_ims?schema=public"

# JWT Authentication
JWT_SECRET="super-secret-jwt-key-for-development-change-in-production-2026"
JWT_EXPIRES_IN="24h"
